body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

.border {
  margin: 10px;
  padding: 10px;
  border: solid 1px red;
}

.topBar {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 48px;
  text-align: center;
  border-bottom: solid 1px black;
}

.tabBar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 48px;
  text-align: center;
  border-top: solid 1px black;
}